<!DOCTYPE html>

<html>
<head>

	<link href="../conf/css/bootstrap.css" rel="stylesheet">
	<style>
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-left: 120px;
}

.events td { padding-left: 15px; }
thead td { font-weight: bold; }

.success { background-color: green; }
.fail { background-color: red; }
.error { background-color: red; }

	</style>
<body>
	<h1>Testresults</h1>

	<table>
	<thead>
		<tr>
			<td>Timestamp</td>
			<td>TESTCASE</td>
			<td>EVENT</td>
			<td>RESULT</td>
		</tr>
	</thead>
	<tbody>	
	<% for @item in @data %>
		<% for @event in @item.events %>

		<tr class="<%= @event.result %>">
			<td><%= @event.timestamp.strftime('%Y-%m-%d %H:%M:%S') %></td>
			<td>
				<a href="<%= @item.source %>" target="logs">
				<%= @item.name %> 
				<% if @item.context != 'unknown-context' %>
				(<%= @item.context %>)
				<% end %>
				</a>
			</td>
			<td class="<%= @event.eventId %>"><%= @event.eventId %></td>
			<td><%= @event.result %></td>
		</tr>

		<% end %>
	<% end %>
	</tbody>
	</table>

</body>
</html>



