
---
main:
  verbose: false
  apphome: ../../ # you need to modify this
  logdir: ${main:apphome}/log/last_run
  testcase-directory: ${main:apphome}/testcases
  
browser-tests:
  # set to false, if browser should not be closed after testcase automatically
  autocloseBrowser: true
  #browser-type: chrome
  browser-type: firefox
  #browser-type: ie
  
testrun:
  includes:
    - samples
    
data:
    
i18n:

