
---

# you need to modify this file
machine-specific: $(include:../conf/machine-specific.yml)

main:
  verbose: false
  apphome: ${machine-specific:apphome} 
  logdir: ${main:apphome}/log/last_run
  archive:
    dir: ${machine-specific:apphome}/archive
    enabled: true
  html_reports:
    template_summary: ${machine-specific:apphome}/conf/reports/summary.template.html  
    auto-open: true
  testcase-directory: ${main:apphome}/testcases
  
browser-tests:
  # set to false, if browser should not be closed after testcase automatically
  autocloseBrowser: true
  #browser-type: chrome,firefox,ie
  browser-type: firefox
  y-size: 1280
  x-size: 960
  
testrun:
  includes:
    - samples
    
data:
    
i18n:

rest-client:
  #proxy-url: none
  proxy-url: http://anything:8080